.title-list .title {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    align-items: center;
}

.title-list .title li {
<<<<<<< HEAD
    margin-right: 3%;
=======
<<<<<<< HEAD
    margin-right: 4%;
=======
    margin-right: 3%;
>>>>>>> 4d2a04845e712049722fcc768a196749b4a8663d
>>>>>>> f70506fe314bd335c11a30c6d3fc89cd985ea169
    display: inline-block;
    position: relative;
}

.title span {
    border-left: 4px solid #034ea2;
    margin-right: 5px;
    height: 20px;
    transform: translateY(5px);
}

.title-list .title .title-line {
    cursor: pointer;
<<<<<<< HEAD
    font-weight: 600;
    color: #9d9d9d;
=======
<<<<<<< HEAD
=======
    font-weight: 600;
    color: #9d9d9d;
>>>>>>> 4d2a04845e712049722fcc768a196749b4a8663d
>>>>>>> f70506fe314bd335c11a30c6d3fc89cd985ea169
}

.title-list .title .title-line:hover {
    color: #166bae;
}

.title-list .title-line.active-name {
    color: #034fa2;
}

.title-list .title .title-line::after {
    content: '';
    height: 1px;
    width: 0;
    background: #034ea2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s;
}

.title-list .title-line.active-name::after {
    width: 100%;
}

.h4Film {
    margin: 0;
    font-size: 1.4rem;
}