.title-list .title2 {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    align-items: center;
}

.title-list .title2 li {
    margin-right: 3%;
    display: inline-block;
    position: relative;
}

.title2 span {
    border-left: 4px solid #034ea2;
    margin-right: 5px;
    height: 20px;
    transform: translateY(5px);
}

.title-list .title2 .title-line {
    cursor: pointer;
    font-weight: 600;
    color: #9d9d9d;
    white-space: nowrap;
}

.title-list .title2 .title-line:hover {
    color: #166bae;
}

.title-list .title-line.active-name {
    color: #034fa2;
}

.title-list .title2 .title-line::after {
    content: '';
    height: 1px;
    width: 0;
    background: #034ea2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s;
}

.title-list .title-line.active-name::after {
    width: 100%;
}

.h4Film {
    margin: 0;
    font-size: 1.4rem;
}

@media screen and (max-width: 992px) {

    .row{
        display: none;
    }

    .title-list .title2 li {
        margin-right: 5%;

    }

}

@media screen and (max-width: 900px) {

    .row{
        display: block;
    }

}