
ul.videos {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

ul.videos li {
    flex-basis: 25%;
}

.videoItem {
    padding: 20px;
}

ul.videos li img {
    max-width: 100%;
    height: auto;
    border-radius: 9px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

ul.videos li .videoTop {
    position: relative;
    overflow: hidden;
}

ul.videos li .videoTop .videoThumb {
    display: block;
}

ul.videos li .videoTop .listBtn {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

ul.videos li .videoTop:hover .listBtn {
    z-index: 0;
}

ul.videos li .videoTop .listBtn a {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

ul.videos li .videoTop:hover .listBtn a.buyClick {
    background-color: #f58020;
    white-space: nowrap;
}

ul.videos li .videoTop:hover .listBtn a.buyClick:hover {
    background-color: orange;
}

ul.videos li .videoTop:hover .videoThumb img {
    filter: brightness(60%);
    transition: 0.5s;
}

ul.videos li .videoInfo {
    padding: 8px 0;
}

ul.videos li .videoInfo .videoName {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1082px) {
    ul.videos li .videoTop:hover .listBtn {
        display: none;
    }
}

@media (max-width: 1082px) and (orientation: landscape) {

    ul.videos li .videoTop:hover .listBtn {
        display: none;
    }

}

@media screen and (max-width: 980px) {

    ul.videos li {
        flex-basis: 50%;
    }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> f70506fe314bd335c11a30c6d3fc89cd985ea169
}

.line {
    padding-bottom: 5px;
    background-color: #f4f4f4;
    margin-bottom: 50px;
<<<<<<< HEAD
    margin-top: 40px;
=======
>>>>>>> 4d2a04845e712049722fcc768a196749b4a8663d
>>>>>>> f70506fe314bd335c11a30c6d3fc89cd985ea169
}